// bg 1
ion-content {
  --background: var(--background);

  background-image:
    radial-gradient(circle at 15% 20%, rgba(88, 129, 219, 0.15), transparent 40%),
    radial-gradient(circle at 85% 10%, rgba(37, 99, 235, 0.12), transparent 45%),
    radial-gradient(circle at 50% 80%, rgba(88, 129, 219, 0.08), transparent 50%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
//bg 2
// ion-content {
//   --background: var(--background);

//   background-image: repeating-linear-gradient(
//     135deg,
//     rgba(159, 179, 209, 0.04) 0px,
//     rgba(159, 179, 209, 0.04) 1px,
//     transparent 1px,
//     transparent 40px
//   );
// }
/* Custom Toolbar Styling */
.header-toolbar {
  --background: #091222; /* Deep dark blue for the navbar */
  --min-height: 70px;
  padding: 0 40px;
  margin: 0;
}

/* The main flex container for the navbar */
.nav-container {
  display: flex;
  align-items: center;
  gap: 60px; /* Space between logo and links */
  height: 100%;
}

/* 1. Brand Logo Box */
.nav-brand {
  display: flex;
  align-items: center;
  gap: 12px;

  .logo-icon {
    background-color: var(--primary); 
    width: 36px;
    height: 36px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    ion-icon {
      color: white;
      font-size: 20px;
      transform: rotate(45deg);
    }
  }

  .brand-text {
    display: flex;
    flex-direction: column;
    
    .brand-title {
      font-family: 'Space Grotesk', sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: white;
      line-height: 1.1;
    }
    
    .brand-subtitle {
      font-family: var(--font-sans);
      font-size: 10px;
      letter-spacing: 2.5px;
      color: #7b94b7;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

/* 2. Navigation Link Styles */
.nav-links {
  display: flex;
  align-items: center;
  gap: 8px;
  
  app-button {
    /* Muted text for inactive buttons by default */
    --color: #9fb3d1; 
    transition: all 0.2s ease;

    /* THE ACTIVE STATE - Angular applies this automatically! */
  /* THE ACTIVE STATE */
    &.active-link {
      /* We use !important to overpower the 'transparent' variant */
      --background: #253351 !important; 
      --color: white !important;
      
      /* Force it deep into the internal ion-button */
      ::ng-deep ion-button {
        --background: #253351 !important;
        --color: white !important;
      }
    }
  }
}

/* Container for the page content below the header */




.subjects-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1.2%;
  
  .text-h1 {
    color: black;
    padding: 0;
    margin: 0;
    font-weight: 400;
  }
  
  .text-muted {
    color: rgba(223, 223, 223, 0.651);
    font-family: var(--font-display);
    margin-top: 8px;
    font-size: 1.1rem;
    font-weight: 100;

  }

  .text-body{
    font-weight: 100;
    color: #7da7e2;
    margin-bottom: 10px;
  }
}

