<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    <div class="nav-container">
      <!-- 1. Brand & Logo -->
      <div class="nav-brand">
        <div class="logo-icon">
          <ion-icon name="construct-outline"></ion-icon>
        </div>
        <div class="brand-text">
          <span class="brand-title">ApexEng</span>
          <span class="brand-subtitle">APEX ENGINEERING</span>
        </div>
      </div>

      <!-- 2. Navigation Links -->
      <div class="nav-links">
        <app-button
          label="Subjects"
          [variant]="
            router.url.includes('/subjects') ? 'primary' : 'transparent'
          "
          [disabled]="router.url.includes('/subjects')"
          routerLink="/subjects"
        ></app-button>

        <app-button
          label="Planner"
          [variant]="
            router.url.includes('/planner') ? 'primary' : 'transparent'
          "
          [disabled]="router.url.includes('/planner')"
          routerLink="/planner"
        ></app-button>
      </div>

      <!-- 3. User Profile (far right) -->
      <div class="user-profile" routerLink="/profile">
        <ion-icon
          name="person-circle-outline"
          class="user-profile-icon"
        ></ion-icon>
        <span class="user-profile-name"> {{ currentUserName }}</span>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
